 <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters align-items-center">
      <div class="col-md-4" (click)="addIng()">
        <img src="{{ src }}" alt="..." style="max-width: 100%">
      </div>
      <div class="col-md-8">
        <div class="card-body d-flex justify-content-between">
          <span class="card-text">{{ name }}</span>
          <span class="card-text">x{{ amount }}</span>
          <button class="card-text" (click)="deleteIng()" [disabled]="amount <= 0">Delete</button>
        </div>
      </div>
    </div>
  </div>



