<div class="container-fluid row mt-4">
  <div class="col-lg-6">
    <h4>Ingredients</h4>
    <app-ingredients
      *ngFor="let ingredient of listOfIng; let i = index"
      [src]="listOfIng[i].image"
      [name]="listOfIng[i].name"
      [amount]="listOfIng[i].amount"
      (addAmount)="addAmount(i)"
      (reduceAmount)="reduceAmount(i)"
    >
    </app-ingredients>
  </div>
  <div class="col-lg-6">
    <app-burger></app-burger>
  </div>
</div>

